<section class="trainers" id="trainers">
  <div class="container">
    <h2 class="section-title trainers__title">Профессиональные тренеры</h2>

    <div class="swiper trainers__content">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="trainers__item">
            <picture>
              <source srcset="img/trainer-1.avif" type="image/avif" />
              <source srcset="img/trainer-1.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/trainer-1.jpg"
                class="image"
                width="360"
                height="500"
                alt="Ирина Лайм"
              />
            </picture>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
